# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm
package-lock.json
yarn.lock

#IDEs
.idea
.vscode

#config files
ormconfig.json
docker-compose.yml

# code testing coverage
coverage

# build
dist/*

# enviroments
.env
.env.dev

uploads
